*{
margin:0;
padding:0;
box-sizing:border-box;
}
:root{
    --Ocean-Blue :#0c3c60;
    --Seafoam :#2fa89c;
    --Sand :#f4f6f8;
    --White :#ffffff;
}
body{
font-family:'Poppins',sans-serif;
background:var(--Sand);
color:#333;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:white;
position:sticky;
top:0;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.logo{
font-weight:600;
font-size:20px;
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:25px;
}

.nav-links a{
text-decoration:none;
color:#333;
font-weight:500;
}

.hero{
height:85vh;
background:url("images/hero-image.avif") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.hero h1{
font-size:60px;
margin-bottom:10px;
}

.hero p{
font-size:20px;
}

#timer{
margin-top:20px;
font-size:26px;
font-weight:600;
}

.intro{
padding:80px 20px;
text-align:center;
max-width:800px;
margin:auto;
}

@media(max-width:768px){

.hero h1{
font-size:36px;
}

.hero p{
font-size:16px;
}

.nav-links{
display:none;
}

ul.route-list{ 
list-style-type: none;
margin: 0;
padding: 0;
}
.gallery-header{
text-align:center;
padding:60px 20px;
}

.gallery-header h1{
font-size:42px;
margin-bottom:10px;
}

.masonry-gallery{

column-count:4;
column-gap:16px;
padding:20px;

}

.masonry-gallery img{

width:100%;
margin-bottom:16px;
border-radius:10px;
break-inside:avoid;
box-shadow:0 6px 20px rgba(0,0,0,.15);
transition:transform .3s ease;

}

.masonry-gallery img:hover{

transform:scale(1.03);

}

/* Tablet */

@media(max-width:900px){

.masonry-gallery{

column-count:3;

}

}

/* Phone */

@media(max-width:600px){

.masonry-gallery{

column-count:2;

}

}
}

.map-header{
text-align:center;
padding:40px;
}

.map-section{
padding:80px 10%;
text-align:center;
background:#f8f8f8;
}

#map{
height:500px;
width:100%;
border-radius:20px;
margin-top:30px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}